:root {
    --bs-border-color: $crema;
}

.especificaciones-vinos-layout {
    @include background('../images/bg-interna.webp', center, cover);
    background-color: $guinda;
    color: $crema;

    a {
        color: $crema;

        &:hover {
            color: $blanco;
        }
    }

    .active {
        color: $crema;
    }

    footer {
        a {
            color: $crema;

            &:hover {
                color: $blanco;
            }
        }

        .logo {
            filter: brightness(0) saturate(100%) invert(100%) sepia(22%) saturate(6375%) hue-rotate(296deg) brightness(117%) contrast(87%);

            &:hover {
                filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(4342%) hue-rotate(297deg) brightness(126%) contrast(93%);
            }
        }
    }

    .thumbnail-vino {
        height: 64vh;
    }

    table {
        color: $crema;

        .icono {
            @include background('../images/sprite-especificaciones-vinos.webp', center, cover);
            width: 43px;
            height: 33px;
        }

        .icono-uva {
            background-position: 0 0;
        }

        .icono-region {
            background-position: 0 -45px;
        }

        .icono-maridaje {
            background-position: 0 -91px;
        }

        .icono-precio-por-botella {
            background-position: 0 0;
        }

        .icono-precio-por-copa {
            background-position: 0 0;
        }

        .fa-dollar-sign {
            margin-left: 16px;
        }
    }
}