// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'futurabook', sans-serif;
    position: relative;
    background-color: $negro;
    color: $gris;
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-size(1.4rem);
    @include transition(ease, 0.3s);

    a {
        color: $gris;
        text-decoration: none;
        @include transition(ease, 0.3s);

        &:hover {
            color: $blanco;
        }
    }
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

nav {
    background-color: transparent;
    text-align: center;
    width: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    @include transition(ease, 0.3s);

    ul {
        margin-bottom: 0;

        .list-inline-item {
            &:not(:last-child) {
                margin-right: 4rem;
            }
        }
    }
}

header,
section,
footer {
    width: 100%;
    float: left;
}

footer {
    position: fixed;
    width: 100%;
    padding: 15px;
    bottom: 0;
    left: 0;
    text-align: center;

    a {
        color: $negro;
        display: inline-block;

        &:hover {
            color: $guinda;
        }
    }

    .active {
        color: $negro;
    }

    .logo {
        @include background('../images/logo.svg', center, contain);
        width: 132px;
        height: 74px;
        @include transition(ease, 0.3s);

        &:hover {
            filter: brightness(0) saturate(100%) invert(9%) sepia(67%) saturate(4609%) hue-rotate(348deg) brightness(88%) contrast(90%);
        }
    }
}

.mh-100 {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'colusregular', serif;
}