@media only screen and (orientation:portrait) {
    body {
        opacity: 0;
    }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
    .home-layout {
        .boton-home {
            .overlay {
                span {
                    &::after {
                        width: 158px;
                        height: 14px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(xxl) {

}